@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    width: 100vw;
    min-height: 100vh; 
    background: url("../image/Docks_Background_4k.webp") no-repeat center center/cover;
}
main {
    flex: 1;
}
/*Background of the Buttons with text*/
.game {
    background-color: #c3c3c3;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
}
/* Attributes*/
.attributes {
    background-color: #c3c3c3;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px;
    margin-top: 75%;
    margin-left: 20%;
    padding: 5px 0 5px 50px;
    max-width: 50%;
}
/* Buttons with grid */
.button_grid {
    display: flex;
    flex-direction: row;
    grid-column: 1;
    gap: 5px;
    margin: 5px auto;
}
/*Buttons*/
.btn {
    background-color: #007a14;
    color: white;
    border: 2px solid #00520e;
    outline: none;
    border-radius: 5px;
}

.btn:hover {
    border-color: #000000;
}
#timer {
    background-color: #c3c3c3;
    margin: 1% auto;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px;
    max-width: 15%;
}
/*Footer
I took this code from the Love running Project*/
#social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: auto;
    background-color: #c3c3c3c3;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px;
}

#social-networks i {
    font-size: 160%;
    padding: 15px;
    color: #007a14;
}

@media screen and (min-width:768px) {
    .game {
        margin: 10% 0 0 35%;
        padding: 5px;
        max-width: 30%;
    }
    .attributes {
        margin-top: 25%;
        margin-left: 35%;
        padding: 5px;
        max-width: 30%;
    }
    #social-networks i {
        padding: 20px 40px;
    }
}

@media screen and (min-width:1024px) {
    .game {
        margin: 10% 0 0 35%;
        padding: 5px;
        max-width: 30%;
    }
    .attributes {
        margin-left: 35%;
        padding: 5px;
        max-width: 30%;
    }
    #social-networks i {
        padding: 20px 40px;
    }
}

@media screen and (min-width:1440px) {
    .game {
        padding: 5px;
        max-width: 30%;
    }
    .attributes {
        padding: 5px;
        max-width: 30%;
    }
    #social-networks i {
        padding: 20px 40px;
    }
}